.brand{
  
   padding: 0;
   width: 10%;
   height: 45px;
}
.link{
   color: white;
   text-decoration: none;
   
}
.link:hover{
   color: white;
   text-decoration: none;
}
.navigation{
  
   /* border-bottom: solid rgb(158, 135, 135); */
   box-shadow: 0px 5px 6px 1px rgb(27, 26, 26);
}